/* .buttonMui {
  color: var(--white);
  background: var(--green-200);
} */

.MuiButtonBase-root {
  color: var(--white);
  background: var(--green-200);
}

.buttonMui:hover {
  background: var(--green-100);
}
