.container {
  width: 100%;
  max-width: 150rem;
  height: 100%;
  padding: 2rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-edit-table {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
