.container {
  width: 100%;
  max-width: 80rem !important;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
}

.header-edit-table {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  height: 3rem;
  align-items: center;
}

.table-area {
  flex: 1;
}
