.container {
  width: 100%;
  max-width: 80rem;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
}

.header-edit-table {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.table-container {
  width: 100%;
  flex: 1;
}
